.center_container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'aside header'
    'aside main '
    'footer footer';
  height: 100vh;
}
header {
    grid-area: header;
}
aside {
    grid-area: aside;
    width: 300px;
    overflow-y: auto;
}
main {
    grid-area: main;
}
footer {
    grid-area: footer;
}
.resize-none {
    resize: none;
 }

 .btn-xs {
    font-size: 0.475rem;
 }

 @media (max-width: 576px) {
  body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
  }
  aside {
    display:none;
  }
}
